#input h2 {
    font-size: 0.8rem;
    color: rgb(125,125,125);
    font-weight: normal;
}

#input fieldset {
    border: none;
    padding: 0;
}

#input legend {
    font-size: 0.8rem;
    color: rgb(125,125,125);
    margin-bottom: 0.5rem;
    padding: 0;
}

#input input {
    display: none;
}
#input label {
    margin-right: 0.5rem;
}