.main h1 {
    font-size: 10rem;
    font-weight: bold;
    color: var(--color-secondary-bg);
    line-height: 9rem;
    font-family: "Tahoma", sans-serif;
    letter-spacing: -5px;
    text-transform: uppercase;
    opacity: 0.8;
    background: repeating-linear-gradient(45deg, var(--color-primary), var(--color-primary) 10px, #E5E5F7 10px, #E5E5F7 25px);
    padding: 1rem;
    margin: 0
}


.main ul {
    padding: 0
}

.main li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 1.4rem;
}

.main li a {
    color: var(--color-secondary-bg);
    text-decoration: none;
    display: inline-block;
}

.main li a:hover {
    color: var(--color-secondary-bg);
    border-bottom: 5px solid var(--color-primary);
}
