html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background: rgb(255, 255, 255);
}

body #result_list,
body #view,
body #result_map {
    display: none;
}

body.view_map #empty,
body.view_map #empty,
body.view_list #empty {
    display: none;
}

body.view_map #view,
body.view_map #result_map {
    display: block;
}

body.view_list #view,
body.view_list #result_list {
    display: block;
}

#result .info.has_lift .no_lift,
#result .info:not(.has_lift) .lift {
    display: none;
}

#result {
    height: 100%;
}
#result_map {
    height: 100%;
    width: 100%;
}

#search fieldset {
    border: none;
    margin-bottom: 1.5rem
}